* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
    --secondary-color: #767e7e;
    --thirdly-color: #9da6a5;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
/* ===========================================================
   ========================= COMMON ==========================
   ===========================================================
 */

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.heading {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.lv2 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 186px;
    height: 68px;
    border-radius: 14px;
    background: var(--primary-color);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.title-page {
    display: inline-block;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.11em;
    line-height: normal;
    margin-bottom: 18px;
}
/* ===========================================================
   ========================= HEADER ==========================
   ===========================================================
 */

.header {
    position: sticky;
    top: -40px;
    z-index: 1;
    background: #fff;
    margin-bottom: 38px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 12px 0;
}

.header .navbar {
    margin-left: auto;
}

.header .navbar ul {
    display: flex;
}

.header .navbar ul a {
    color: #2f3a3b;
    font-size: 1.6rem;
    padding: 8px 19.5px;
}

.header .navbar ul a:hover {
    text-shadow: 1px 0 0 currentColor;
}

.header .action {
    display: flex;
    align-items: center;
    margin-left: 157.5px;
}

.header .btn-Sign-in {
    color: #494949;
    font-size: 1.6rem;
    margin-right: 24px;
}

.header .btn-Sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    width: 108px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

.header .btn-Sign-up:hover {
    color: #fff;
    background: var(--primary-color);
}

/* ===========================================================
   ========================== HERO ===========================
   ===========================================================
 */
.hero {
    background: #fff;
    padding-bottom: 79px;
}

.hero .body {
    display: flex;
}

.hero .content-block {
    width: 45.2%;
    padding-top: 93px;
}

.hero .content-block .desc-top {
    color: var(--secondary-color);
    font-size: 1.4rem;
    margin-bottom: 18px;
}

.hero .content-block .desc-bottom {
    width: 374px;
    color: var(--thirdly-color);
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
    margin: 46px 0 52px;
}

.hero .content-block .btn-group {
    display: flex;
}

.hero .content-block .play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #fff;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
    margin-left: 50px;
    cursor: pointer;
}

.hero .content-block .play:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .media-block {
    position: relative;
    width: 54.8%;
}

.hero .media-block .img {
    display: block;
    width: 576px;
    height: 631px;
    object-fit: cover;
    background: #e0f7f6;
    margin-left: auto;
}

.hero .media-block .info {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

/* Course */
.hero .media-block .course-block {
    position: absolute;
    display: flex;
    align-items: center;
    top: 149px;
    left: 25px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    padding: 18px 25px;
}

.hero .media-block .course-block .book {
    position: relative;
    width: 36px;
    height: 40px;
}

.hero .media-block .course-block .icon-down {
    position: absolute;
    top: 28px;
    left: 4px;
    right: 4px;
    bottom: 8px;
}

.hero .media-block .course-block .info {
    margin-left: 16px;
    width: 55px;
}

/* Schedules */
.hero .media-block .schedules-block {
    position: absolute;
    bottom: 46px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    padding: 16px 25px 23px;
}

.hero .media-block .schedules-block .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.hero .media-block .schedules-block .images img:first-child {
    margin-bottom: 12px;
}

.hero .media-block .schedules-block .images img:nth-child(2) {
    margin-bottom: 10px;
}

.hero .media-block .schedules-block .images img:last-child {
    margin-top: 16px;
    width: 26px;
    height: 6px;
}

/* Active Students */
.hero .media-block .students {
    position: absolute;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    padding: 17px 35px;
    right: 45px;
    bottom: 41px;
}

.hero .media-block .students .avatars {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.hero .media-block .students .avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.hero .media-block .students span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--primary-color);
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.hero .media-block .students .avatar:not(:first-child),
.hero .media-block .students span {
    margin-left: -7px;
}

/* ===========================================================
   ======================== FEATURE ==========================
   ===========================================================
 */
.feature {
    padding-top: 130px;
}

.feature .content {
    max-width: 591px;
}

.feature .content .desc {
    color: var(--secondary-color);
    font-size: 1.8rem;
    margin-top: 18px;
    line-height: normal;
}

.list-feature {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    max-width: 87.5%;
}

.list-feature .item .heading {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 600;
}

.list-feature .item .desc {
    max-width: 224px;
    margin-top: 16px;
    color: var(--thirdly-color);
    font-size: 1.6rem;
    line-height: 1.69; /* 168.75% */
}
.line-wrap {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* ===========================================================
   ======================== COURSES ==========================
   ===========================================================
 */
.course {
    padding-top: 130px;
}

.course .content .row {
    display: flex;
    align-items: center;
    margin-top: 19px;
}

.course .content .desc {
    color: var(--secondary-color);
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
    max-width: 525px;
}

.course .content a {
    margin-left: auto;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.list-course {
    margin-top: 79px;
    display: flex;
    gap: 0 47px;
}

.list-course .item {
    position: relative;
    flex: 1;
}

.list-course .item:hover .thumb {
    opacity: 0.8;
}

.list-course .item:hover .info {
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.1);
}

.list-course .item .thumb {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
}

.list-course .info {
    position: absolute;
    bottom: -124px;
    left: 17px;
    right: 17px;
    max-width: 325px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.list-course .info .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.list-course .info .cost {
    margin-top: 16px;
    color: var(--secondary-color);
    font-size: 1.6rem;
    line-height: normal;
}

.list-course .info strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.list-course .info .desc {
    margin-top: 6px;
}

.list-course .info .desc,
.list-course .info .value {
    color: var(--thirdly-color);
    font-size: 1.4rem;
    line-height: normal;
}

.list-course .info .row {
    margin-top: 18px;
}

.list-course .info .value {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.list-course .info .value::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    margin-right: 10px;
}

/* ===========================================================
   ======================== STATS ==========================
   ===========================================================
 */
.stats {
    padding-top: 130px;
    margin-top: 259px;
}

.stats .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 862px;
    margin: 0 auto;
}

.stat {
    text-align: center;
}

.stat .value {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.stat .desc {
    margin-top: 11px;
    color: var(--secondary-color);
    font-size: 1.8rem;
    line-height: normal;
}

/* ===========================================================
   ======================== FEEDBACK ==========================
   ===========================================================
 */
.feedback {
    padding-top: 175px;
    margin-top: 89px;
}

.feedback .body {
    display: flex;
}

.feedback .content-block {
    width: 35.8%;
    padding: 37px 0;
}

.feedback .content-feedback {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    line-height: 1.5; /* 150% */
}

.feedback .student {
    display: inline-flex;
    align-items: center;
    margin-top: 33px;
    color: var(--secondary-color);
    font-size: 1.6rem;
    line-height: normal;
}

.feedback .student::before {
    display: inline-block;
    margin-right: 5px;
    content: "";
    width: 8px;
    height: 2px;
    background: #070707;
}

.feedback b {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
}

.feedback .btn-group {
    display: flex;
    align-items: center;
    gap: 0 30px;
    margin-top: 52px;
}

.feedback .btn-control {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: transparent;
    background: var(--primary-color);
    cursor: pointer;
}

.feedback .btn-control:hover {
    color: var(--primary-color);
    background: #fff;
    border: 1px solid var(--primary-color);
}

.feedback .media-block {
    position: relative;
    width: 64.2%;
    overflow: hidden;
}

.feedback .avatar-main {
    display: block;
    width: 235px;
    height: 235px;
    border-radius: 50%;
    object-fit: cover;
    background: #1ebfc1;
    margin-left: auto;
    margin-right: 171px;
    margin-top: 107px;
}

.feedback .media-block .avatar {
    position: absolute;
}

.feedback .media-block .avatar:nth-child(2) {
    top: 0;
    right: 443px;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    object-fit: cover;
    background: #ff947a;
}

.feedback .media-block .avatar:nth-child(3) {
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    background: #bf83ff;
}

.feedback .media-block .avatar:nth-child(3) ~ .avatar {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .media-block .avatar:nth-child(4) {
    top: 374px;
    right: 32px;
    background: #b1dfdc;
}

.feedback .media-block .avatar:nth-child(5) {
    top: 403px;
    right: 389px;
    background: #ff947a;
}

.feedback .media-block .avatar:nth-child(6) {
    top: 258px;
    right: 601px;
    background: #ffc147;
}

/* ===========================================================
   ==================== CALL TO ACTION =======================
   ===========================================================
 */

.cta-group {
    margin-top: 130px;
    background: #def6f5;
    padding: 76px 0 88px 0;
}

.cta-group .body {
    display: flex;
    align-items: center;
}

.cta-group .desc {
    margin-top: 18px;
    color: var(--secondary-color);
    font-size: 1.8rem;
    line-height: normal;
}

.cta-group .cta-btn {
    margin-left: auto;
    margin-right: 154px;
    background: #2ac9bf;
    box-shadow: none;
}

/* ===========================================================
   ========================= FOOTER ==========================
   ===========================================================
 */
.footer {
    padding: 130px 0 50px 0;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .column .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 26px;
}

.footer .column:last-of-type .title {
    margin-bottom: 18px;
}

.footer .column .list li {
    margin-top: 19.5px;
}

.footer .column:last-of-type .list li {
    margin-top: 18px;
}

.footer .column .list a {
    color: #535353;
    font-size: 1.6rem;
    line-height: normal;
}

.footer .column:last-of-type .list li span {
    margin-left: 9px;
}

.footer .copyright {
    margin-top: 80px;
    color: #b0b5b4;
    font-size: 1.8rem;
    line-height: normal;
    text-align: center;
}
